<div class="container mt-5">
  <div class="alert alert-info">
    <h5>Usuario: {{ userId }}</h5>
  </div>
  <div class="chat-container p-3 bg-color">
    <ul class="chat-box" id="chat-box">
      <!-- <li class="message received"></li>
      <li class="message sent"></li> -->
      @for (message of messageList; track $index) {
      <li class="message" [ngClass]="message.message_side">{{ message.message }}</li>
      }
    </ul>
    <div class="input-group pt-3">
      <input type="text" [formControl]="messageInput" id="message-input" class="form-control message-input"
        placeholder="Escribe tu mensaje aquí">
      <button type="button" (click)="sendMessage()" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</div>
